div{
    background-color: darkcyan;
    width: 700px;
    height: 170px;
    border-radius:20% ;

}

h2{
    padding-top:25px;
}

div{
    margin-bottom: 150px;
    
}

input{
    width: 100px;
}